<div class="user-social-roll">
    <a
    class="profile-link easing"
    [href]="this.user.data.websiteUrl"
    [target]="this.user.data.websiteUrl"
    [class.visible]="this.user.data.websiteUrl"
    >
        <i class="fas fa-globe-americas"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.githubUrl"
    [target]="this.user.data.githubUrl"
    [class.visible]="this.user.data.githubUrl"
    >
        <i class="fab fa-github"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.facebookUrl"
    [target]="this.user.data.facebookUrl"
    [class.visible]="this.user.data.facebookUrl"
    >
        <i class="fab fa-facebook-square"></i>
    </a>
    <a class="profile-link easing"
    class="profile-link easing"
    [href]="this.user.data.twitterUrl"
    [target]="this.user.data.twitterUrl"
    [class.visible]="this.user.data.twitterUrl"
    >
        <i class="fab fa-twitter-square"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.youtubeUrl"
    [target]="this.user.data.youtubeUrl"
    [class.visible]="this.user.data.youtubeUrl"
    >
        <i class="fab fa-youtube"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.linkedinUrl"
    [target]="this.user.data.linkedinUrl"
    [class.visible]="this.user.data.linkedinUrl"
    >
        <i class="fab fa-linkedin"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.twitchUrl"
    [target]="this.user.data.twitchUrl"
    [class.visible]="this.user.data.twitchUrl"
    >
        <i class="fab fa-twitch"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.discordUrl"
    [target]="this.user.data.discordUrl"
    [class.visible]="this.user.data.discordUrl"
    >
        <i class="fab fa-discord"></i>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.gabUrl"
    [target]="this.user.data.gabUrl"
    [class.visible]="this.user.data.gabUrl"
    >
        <img src="/assets/misc/gab.png"/>
    </a>
    <a
    class="profile-link easing"
    [href]="this.user.data.mindsUrl"
    [target]="this.user.data.mindsUrl"
    [class.visible]="this.user.data.mindsUrl"
    >
        <img src="/assets/misc/minds.png"/>
    </a>
</div>
<!-- user-social-roll -->
