<div class="media">
  <div class="media-wrap">

    <div class="media-text">
      <h3>P2P Content Curation Platform</h3>
      <p>
        As part of the second phase of the product.
        We want to create a Peer to Peer based content
        curation platform. The goal is to be a better
        experience then platforms such as Youtube and
        Imgur.
      </p>
      <p>
        The platform would be completely powered by IPFS,
        meaning that any individual can power the network
        by powering up their own full node.
      </p>
    </div>

    <div class="media-visual">

      <div class="dashed-line dl1"></div>
      <div class="dashed-line dl2"></div>

      <div class="media-item video-item">
        <div class="media-item-rotate"></div>
        <i class="far fa-file-video"></i>
      </div>

      <div class="media-item audio-item">
        <div class="media-item-rotate"></div>
        <i class="far fa-file-audio"></i>
      </div>

      <div class="media-item text-item">
        <div class="media-item-rotate"></div>
        <i class="far fa-file-alt"></i>
      </div>

    </div>

  </div>
</div>