<h3>Update Password</h3>

<p class="label">Old Password</p>
<input type="password" [(ngModel)]="this.settings.password.oldpassword"/>

<p class="label">New Password</p>
<input type="password" [(ngModel)]="this.settings.password.password1"/>

<p class="label">Confirm Password</p>
<input type="password" [(ngModel)]="this.settings.password.password2"/>

<div class="button-wrap">
    <p class="status-update easing"
        [class.active]="this.settings.password.state !== 0"
        [class.red]="this.settings.password.state == -1"
        [class.green]="this.settings.password.state == 1"
    >
        <i class="far fa-check-circle"></i>
        {{this.settings.password.message}}
    </p>
    <a class="submit-button easing" (click)="this.settings.updatePassword()">
        Update Password
    </a>
</div>
