<div class="banner">

    <div class="banner-wrap">

        <div class="banner-wrap-content">

            <div class="banner-text">
                <h2>Decentralized Creator</h2>
                <h3>Helping Content Creators Decentralize Their Income</h3>
                <div class="cryptos">
                    <div class="crypto-rotater">
                        <div class='crypto-rotation'></div>
                        <div class="crypto">
                            <i class="fab fa-bitcoin"></i>
                        </div>
                    </div>
                    <div class="crypto-rotater">
                        <div class='crypto-rotation'></div>
                        <div class="crypto">
                            <i class="fab fa-ethereum"></i>
                        </div>
                    </div>
                    <div class="crypto-rotater">
                        <div class='crypto-rotation'></div>
                        <div class="crypto">
                            <i class="fab fa-monero"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- div.banner-text -->

            <div class="banner-options">
                <a class="banner-option easing" routerLink="/search">
                    <i class="fas fa-search"></i>
                    <p>Search Creators</p>
                </a>
                <a class="banner-option easing" routerLink="/roadmap">
                    <i class="fas fa-map-signs"></i>
                    <p>Product Roadmap</p>
                </a>
                <a class="banner-option easing" routerLink="/register">
                    <i class="fas fa-user-plus"></i>
                    <p>Register</p>
                </a>
            </div>
            <!-- div.banner-options -->

        </div>
        <!-- div.banner-wrap-content -->

    </div>
    <!-- div.banner-wrap -->

</div>
