<div class="page-wrap">
  <div class="dashboard">
    <a class="dashboard-item easing" routerLink="/profiles">
      <i class="fas fa-clipboard-list"></i>
      <p>Profiles</p>
    </a>

    <a class="dashboard-item easing" routerLink="/subscriptions">
      <i class="fas fa-star"></i>
      <p>Subscriptions</p>
    </a>

    <a class="dashboard-item easing" routerLink="/search">
      <i class="fas fa-search"></i>
      <p>Search</p>
    </a>

    <a class="dashboard-item easing" routerLink="/wallets">
      <i class="fas fa-money-bill-wave"></i>
      <p>Wallets</p>
    </a>

    <a class="dashboard-item easing" routerLink="/settings">
      <i class="fas fa-cogs"></i>
      <p>Settings</p>
    </a>
  </div>
</div>
