<div class="profile-cryptos">
    <div class="profile-crypto">
        <div class="crypto-input-image">
            <i class="fab fa-ethereum"></i>
        </div>
        <div class="crypto-input">
            <p class="label">Ethereum Address</p>
            <input type="text" placeholder="ETH"/>
        </div>
    </div>
    <div class="profile-crypto">
        <div class="crypto-input-image">
            <i class="fab fa-monero"></i>
        </div>
        <div class="crypto-input">
            <p class="label">Monero Address</p>
            <input type="text" placeholder="XMR"/>
        </div>
    </div>
</div>
<!-- profile-cryptos -->
