@import "../../base.styles.scss";

div.page-wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: $g2;
    padding: 30px;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    padding: 15px 0px;
}

@media (max-width: 960px) {
    h2 { text-align: center; }
}
