@import "../../../base.styles.scss";

header {
    width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $g1;
    div.header-wrap {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        a.brand {
            height: 100%;
            display: flex;
            align-items: center;
            div.brand-image {
                width: $header-height;
                height: $header-height;
                background: $g1;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: $header-height;
                    height: $header-height;
                }
                &:hover {
                    background: $g4;
                }
            }
            div.brand-text {
                br { display: none; }
                h1 {
                    color: $text;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    padding: 0 15px;
                    font-size: 24px;
                }
                h2 {
                    color: $text;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    padding: 0 15px;
                    font-size: 18px;
                }
            }
        }
        a.header-menu-toggle {
            width: $header-height;
            height: $header-height;
            background: $g1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text;
            font-size: 24px;
            &:hover {
                background: $g4;
            }
            &.active {
                background: $g4;
                i { transform: rotate(180deg); }
            }
        }
    }

    div.header-menu {
        position: absolute;
        z-index: 1111;
        top: $header-height;
        right: 0;
        width: 240px;
        background: $g2;
        border: 2px solid white;
        border-top: none;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: visible;
        }

        a.header-link {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            color: white;
            font-size: 18px;
            &:hover {
                background: $g4;
            }

            display: none;
            &.visible {
                display: flex;
            }

            i { font-size: 14px; margin-right: 10px; margin-top: 2px; }
        }
    }

}

@media (max-width: 960px) {
    header {
        div.header-wrap {
            a.brand {
                div.brand-text {
                    br { display: block; }
                    h1 {
                        font-size: 18px;
                    }
                    h2 { display: none; }
                }
            }
        }

        div.header-menu {
            width: 100%;
        }
    }
}
