<div class="roadmap">

  <div class="roadmap-wrap">

    <div class="roadmap-text">
      <h3>Decentralizing Content to mitigate Censorship</h3>
      <p>
        Mainstream Technology platforms such as Facebook, Twitter
        and Youtube have been heavily moderating content from
        content creators they believe are spewing hate speech.
        The problem becomes the perogative of what defines
        "hate speech", where it's definition has been
        consistently changing to benefit special
        interest groups.
      </p>
      <p>
        <a href="https://www.neowin.net/news/microsoft-moderates-gab-content-with-site-takedown-threat" target="gab">With the Gab takedown.</a>
        We need to be mindful that any specific hosting platform can choose to censor an individual for their own interests.
        Decentralized Creator is a completely Open Source platform with the goal of not only fostering the first Open Source non custodial
        Bitcoin Wallet solution. But also becoming an IPFS Content Curation platform in place of platforms like Youtube or Imgur.
      </p>
    </div>
    <!-- roadmap-text -->

    <div class="roadmap-visual">

      <div class="stage stage-1">
        <p>1. Open Source Patreon</p>
        <i class="fas fa-check green"></i>
      </div>

      <div class="stage stage-2">
        <p>2. Non Custodial Bitcoin API</p>
        <i class="fas fa-chevron-right move"></i>
      </div>

      <div class="stage stage-3">
        <p>3. IPFS Content Platform</p>
        <i class="fas fa-chevron-right move"></i>
      </div>

      <div class="roadmap-line">
        <div class="line"></div>
        <div class="dot dot-1">
          <i class="far fa-dot-circle"></i>
        </div>
        <div class="dot dot-2">
          <i class="far fa-dot-circle"></i>
        </div>
        <div class="dot dot-3">
           <i class="far fa-dot-circle"></i>
        </div>
      </div>
    </div>
    <!-- roadmap-visual -->

  </div>
  <!-- roadmap-wrap -->

</div>