<div class="about">
    <div class="about-wrap">
        <div class="about-image">
            <div class="cryptos">
                <div class="crypto">
                    <i class="fab fa-bitcoin"></i>
                </div>
                <div class="crypto">
                    <i class="fab fa-ethereum"></i>
                </div>
                <div class="crypto">
                    <i class="fab fa-monero"></i>
                </div>
            </div>
        </div>
        <div class="about-text">
            <h3>Patreon with Cryptocurrency</h3>
            <p>
                The intention of Decentralized Creator
                was not only to create a better, more
                polished version of Patreon. But, a
                platform that is tied to the least
                amount of centralized governing
                systems as possible.
            </p>
            <p>
                Currently, we provide both custodial and
                non custodial wallet solutions for
                Ethereum. In the future, our goal is to provide
                a free open source non-custodial wallet api
                for both Bitcoin and Monero.
            </p>
        </div>
    </div>
</div>
