<div class="about">
    <div class="about-wrap">
        <div class="about-image">
            <div class="cryptos">
                <div class="crypto">
                    <i class="fab fa-bitcoin"></i>
                </div>
                <div class="crypto">
                    <i class="fab fa-ethereum"></i>
                </div>
                <div class="crypto">
                    <i class="fab fa-monero"></i>
                </div>
            </div>
        </div>
        <div class="about-text">
            <h3>Patreon with Cryptocurrency</h3>
            <p>
                The intention of Decentralized Creator
                was not only to create a better, more
                polished version of Patreon. But, a
                platform that is tied to the least
                amount of centralized governing
                systems as possible.
            </p>
            <p>
                We provide a managed wallet solution
                for BTC, ETH and Monero where you
                can send payouts to your own
                self managed wallets. We do intend
                to provide self managed wallet
                solutions in the future for more
                knowledgable users to use.
            </p>
        </div>
    </div>
</div>
