<div class="page-content">
    <div class="page-wrap">
        <h1>This page doesn't exist :(</h1>
        <div class="links">
            <a class="link easing" routerLink="/">
                <i class="fas fa-home"></i>
                Home
            </a>
            <a class="link easing" routerLink="/login">
                <i class="fas fa-key"></i>
                Login
            </a>
            <a class="link easing" routerLink="/search">
                <i class="fas fa-search"></i>
                Search
            </a>
        </div>

    </div>
</div>
