<div class="video">

    <div class="video-wrap">
        <div class="video-text">
            <h3>A platform devoted to free speech</h3>
            <p>
                We believe that free speech is a fundamental
                human right. Decentralized Creator is a
                platform that intends to mitigate and
                respond to concerns revolved around
                censorship.
            </p>
            <p>
                This platform is completely open source and
                not tied to any specific governing
                Technology Company.
                <a href="https://www.neowin.net/news/microsoft-moderates-gab-content-with-site-takedown-threat" target="gab">(See Gab takedown)</a>
                This way, if anything were ever to happen to
                this site specifically, you can simply
                fork the source code and create your
                own version of Decentralized Creator.
            </p>
        </div>
        <div class="video-content">
            <div class="video-container">
                <iframe width="480" height="320" src="https://www.youtube.com/embed/0Gqdk8muqng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
